{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
<form>
  <div>
    <label for="name">Title</label>
    <input type="text" name="title" placeholder="Enter a title...">
  </div>

  <div>
    <label for="content">Content:</label>
    <textarea name="content" placeholder="Enter a content..."></textarea>
  </div>

  <div>
    <label for="expires">Delete in:</label>
    <input type="radio" name="expires" value="365" checked> One Year
    <input type="radio" name="expires" value="7"> One Week
    <input type="radio" name="expires" value="1"> One Day
  </div>

  <div>
    <input type="submit" value="Publish Snippet">
  </div>
</form>
{{end}}
